<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}World Queries{% endblock %}</title>
    <!-- Vincula el archivo CSS desde la carpeta estática -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/consulta1">Consulta 1</a></li>
                <li><a href="/consulta2">Consulta 2</a></li>
                <li><a href="/consulta3">Consulta 3</a></li>
                <li><a href="/consulta4">Consulta 4</a></li>
                <li><a href="/todos_los_paises">Consulta 5</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 World Queries. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

