{% extends "base.html" %}

{% block title %}Consulta de Ciudades por País{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Número de Ciudades por País</h2>
        <!-- Contenedor de la tabla con scroll -->
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Número de Ciudades</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pais, num_ciudades in resultados %}
                    <tr>
                        <td>{{ pais }}</td>
                        <td>{{ num_ciudades }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
