{% extends "base.html" %}

{% block title %}
Inicio - World Queries
{% endblock %}

{% block content %}
<h2>Bienvenido a World Queries</h2>
<p>Explora información interesante sobre datos del mundo utilizando las consultas disponibles:</p>
<ul>
    <li><a href="{{ url_for('consulta_1') }}">Consulta 1: Población Promedio de Ciudades</a></li>
    <li><a href="{{ url_for('consulta_2') }}">Consulta 2: Países con Más de 50M de Habitantes</a></li>
    <li><a href="{{ url_for('consulta_3', codigo_pais='USA') }}">Consulta 3: Idiomas Oficiales en USA</a></li>
    <!-- Agrega más enlaces a consultas si es necesario -->
</ul>
{% endblock %}
