{% extends "base.html" %}

{% block title %}Idiomas Oficiales - {{ codigo_pais }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Idiomas Oficiales en el País: {{ codigo_pais }}</h2>
        {% if resultados %}
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Idioma</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultado in resultados %}
                            <tr>
                                <td>{{ resultado.idioma }}</td>
                                <td>{{ resultado.porcentaje }}%</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No se encontraron idiomas oficiales para el país con código {{ codigo_pais }}.</p>
        {% endif %}
        <!-- Botón para regresar -->
        <div class="mt-3">
            <a href="{{ url_for('todos_los_paises') }}" class="btn btn-primary">Regresar a Todos los Países</a>
        </div>
    </div>
{% endblock %}
