{% extends "base.html" %}

{% block title %}Consulta de Lenguajes por País{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Número de Lenguajes por País</h2>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Número de Lenguajes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pais, num_lenguajes in resultados %}
                    <tr>
                        <td>{{ pais }}</td>
                        <td>{{ num_lenguajes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

