{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">

        <!-- Texto en la derecha -->
        <div class="col-md-6">
            <h2>Bienvenido a World Queries</h2>
            <p>
                Este proyecto tiene como objetivo realizar consultas sobre una base de datos del mundo, la cual contiene información geográfica y lingüística. La base de datos original está estructurada con tres tablas principales: country (países), city (ciudades) y countrylanguage (idiomas por país). Cada una de estas tablas tiene datos esenciales sobre los países, las ciudades que los conforman y los idiomas oficiales que se hablan en esos países.
                El primer paso en el proyecto fue importar la base de datos a un sistema de gestión de bases de datos SQL, específicamente MySQL, para poder realizar consultas desde Python utilizando SQLAlchemy. SQLAlchemy es un ORM (Object-Relational Mapper) que facilita la interacción con bases de datos de manera más eficiente y en un formato orientado a objetos. Con SQLAlchemy, pudimos modelar las tablas como clases de Python, lo que permitió realizar consultas y operaciones sobre la base de datos utilizando código Python en lugar de consultas SQL tradicionales.
                <br>Para gestionar la interacción entre la base de datos y la interfaz de usuario, se implementó el patrón de diseño MVC (Modelo-Vista-Controlador). Este patrón ayuda a separar las responsabilidades de la aplicación, haciendo el código más modular y fácil de mantener.
            </p>
        </div>
    </div>
</div>
{% endblock %}
